*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* html,
body
{
    overflow: hidden;
} */
html {
    scroll-behavior: smooth;
    background: #1e1a20;
}

span {
  display: inline-flex;
  top: 0%;
  padding: 0%;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.typewrite {
  color: white;
  text-align: center;
  position:relative;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border-right: 2px solid rgba(255,255,255,.75);
  transform: translateY(-50%);  
  margin: 0 auto;
  font-size: 120%;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}
section:nth-child(odd)
{
    justify-content: flex-end;
}
.canvas-container{
    /*position: relative; */
    width: 500px;
    height: 500px;
  }

  #info_button {
    color: white;
    position: relative;
    background-color: transparent;
    top: 0%;
    font-size: medium;
    border-top: inset;
    border-left: inset;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    padding: 3px 15px;
  }

  #para {
    position:relative;
    text-align: center;
    color: white;
    background-color: transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #breif {
    position:relative;
    text-align: center;
    color: white;
    background-color: transparent;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #papers {
    position:relative;
    color: white;
    text-align: center;
    background-color: transparent;
    margin: 0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px 20px;
}
  #projects {
    position:relative;
    color: white;
    text-align: center;
    background-color: transparent;
    padding: 10px 20px;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    margin-left: 0% auto;
    margin-right: 0% auto;
  }
  #redtalk {
    position:relative;
    color: white;
    text-align: center;
    background-color: transparent;
    margin: 0 auto;
    padding: 10px 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #connect_a {
    position:relative;
    color: white;
    text-align: center;
    background-color: transparent;
    margin: 0 auto;
    padding: 30px 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 50%;
  }

/*# sourceMappingURL=main.css.map*/